<header id="header" class="type6"></header>

<div class="main_wrapper">
    <!-- C O N T E N T -->
    <div class="content_wrapper">

        <div class="page_title_block"></div>

        <div id="content" class="container"></div>

    </div>
</div>

<div class="pre_footer"></div>

<footer></footer>


