<div class="socials">
    <ul class="socials_list">
        <li><a href="https://www.facebook.com/valerie.elimak" target="_blank" class="ico_social-facebook"></a></li>
        <li><a href="https://twitter.com/elimak" target="_blank" class="ico_social-twitter"></a></li>
        <li><a href="http://www.linkedin.com/in/valeriealloix/" target="_blank" class="ico_social-linked"></a></li>
        <li><a href="http://open.spotify.com/user/valerie.elimak" target="_blank" class="ico_social-spotify"></a></li>
        <li><a href="http://instagram.com/valerie_elimak" target="_blank" class="ico_socialize_instagram"></a></li>
    </ul>
</div>
<div class="copyright">&copy; 2013 Elimak. All Rights Reserved.</div>
<a class="btn2top"></a>
<div class="clear"></div>