<div class="header_wrapper container">

    <a href="index.html" class="logo">
        <div class="logo_def" href="home"></div>
        <div class="logo_retina" href="home"></div>
    </a>

    <nav>
        <ul class="menu">
            <li id="menu_home"><a href="home">HOME</a>
            <li id="menu_portfolio"><a href="portfolio">PORTFOLIO</a></li>
            <li id="menu_resume"><a href="resume">RESUME</a></li>
            <li id="menu_contact"><a href="contact">CONTACT</a></li>
        </ul>
        <div class="clear"></div>
    </nav>
    <div class="socials">
        <ul class="socials_list">
            <li><a href="https://www.facebook.com/valerie.elimak" target="_blank" class="ico_social-facebook"></a></li>
            <li><a href="https://twitter.com/elimak" target="_blank" class="ico_social-twitter"></a></li>
            <li><a href="http://www.linkedin.com/in/valeriealloix/" target="_blank" class="ico_social-linked"></a></li>
            <li><a href="http://open.spotify.com/user/valerie.elimak" target="_blank" class="ico_social-spotify"></a></li>
            <li><a href="http://instagram.com/valerie_elimak" target="_blank" class="ico_socialize_instagram"></a></li>
        </ul>
    </div>

    <a href="javascript:void(0)" class="menu_toggler"></a>

</div>
<div class="mobile_menu_wrapper" style="display: none;">
    <ul class="mobile_menu container">
        <li id="mobile_menu_home"><a href="home">HOME</a>
        <li id="mobile_menu_portfolio"><a href="portfolio">PORTFOLIO</a></li>
        <li id="mobile_menu_resume"><a href="resume">RESUME</a></li>
        <li id="mobile_menu_contact"><a href="contact">CONTACT</a></li>
    </ul>
    <div class="clear"></div>
</ul></div>
