<aside id="footer_bar" class="row">

    <div class="span9">
        <div class="sidepanel widget_twitter">
            <div class="bg_title"><h6 class="sidebar_header">Latest Tweets</h6></div>
            <ul class="tweet_list twitter_list tweet_1057">
                <li class="tweet_first tweet_odd">
                    <span class="tweet_time">
                    <a href="http://twitter.com/elimak/status/464406622412894208" title="view tweet on twitter">about 4 days ago</a>
                    </span>
                    <span class="tweet_text">RT <span class="at">@</span><a href="http://twitter.com/skial">skial</a> The <a href="https://twitter.com/search?q=%23Haxe" class="tweet_hashtag">#Haxe</a> Roundup № 199 <a href="http://haxe.io/roundups/199/">haxe.io/roundups/199/</a> has just been updated with some missing tutorials for the <a href="https://twitter.com/search?q=%23Python" class="tweet_hashtag">#Python</a> and <a href="https://twitter.com/search?q=%23Java" class="tweet_hashtag">#Java</a> targets.</span></li>
                <li class="tweet_even">
                    <span class="tweet_time">
                    <a href="http://twitter.com/elimak/status/463782555758497792" title="view tweet on twitter">about 6 days ago</a>
                    </span> <span class="tweet_text">. <span class="at">@</span><a href="http://twitter.com/_crossdata">_crossdata</a>
                    <span class="at">@</span><a href="http://twitter.com/seinecle">seinecle</a>  looking forward to it!</span></li>
                <li class="tweet_odd">
                    <span class="tweet_time">
                    <a href="http://twitter.com/elimak/status/463740231200800768" title="view tweet on twitter">about 6 days ago</a></span>
                    <span class="tweet_text">Hehe RT <span class="at">@</span><a href="http://twitter.com/zouloux">zouloux</a>:
                    <span class="at">@</span><a href="http://twitter.com/nicoptere">nicoptere</a> we should create a technology, to wipe all browsers subtleties. call it Flash, and bring it to world for free.</span></li>
                <li class="tweet_even">
                    <span class="tweet_time">
                    <a href="http://twitter.com/elimak/status/463493381973630977" title="view tweet on twitter">about 6 days ago</a></span>
                    <span class="tweet_text">First day diving into <a href="https://twitter.com/search?q=%23unity3D" class="tweet_hashtag">#unity3D</a> and its exciting!!! I am finding similar playfulness as good old Flash so far :))) - Fun scripting / building</span></li>
            </ul>
        </div>
    </div>

    <div class="span3">
        <div class="sidepanel widget_posts">
            <div class="bg_title"><h6 class="sidebar_header">Random Projects</h6></div>
            <ul id="random-projects" class="recent_posts">
                <li>
                    <div class="recent_posts_img">
                        <img src="img/portfolio/haxe-workshop/haxe-workshop_thumb.jpg" alt="" width="85" height="85">
                    </div>
                    <div class="recent_posts_content">
                        <a href="haxe_workshop_elimak.html" class="post_title">Workshop on cross-platform game development - Haxe</a>
                        Workshop on 'awe6', a game framework written in Haxe, realized in 2012
                    </div>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="recent_posts_img">
                        <img src="img/portfolio/pok/pok_thumb.jpg" alt="" width="85" height="85">
                    </div>
                    <div class="recent_posts_content">
                        <a href="pok_elimak.html" class="post_title">Analysis for improving the user engagement on a data-accuracy tool</a>
                        Research and Advises for the World Bank institute realized in 2012.
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
    </div>

</aside>
