<div class="container">
        <span>
            <img src="img/pic-home.png" alt="" width="145" height="145" class="pic_def">
            <img src="img/pic-home-retina.png" alt="" width="145" height="145" class="pic_retina">
        </span>
    <h3 class="title">Creative Technologist</h3>
    <div class="breadcrumbs"><span>in love with multitasking, working hard and having fun!</span></div>
</div>